html, body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #f79817;
}

.formcontainer {
  box-shadow: 0px 0px 5px black;
  background: #1c1c1c;
}

button {
  font-family: Arial, sans-serif;
  background: #f79817;
  color: black;
  box-shadow: 0px 0px 0px black;
  transition: box-shadow 500ms ease;
}

button:hover {
  box-shadow: 0px 0px 5px black;
}

input {
  font-family: Arial, sans-serif;
  background: #f79817;
  color: black;
}

.disabled {
  background: #ffcb85 !important;
  color: #595959 !important;
  box-shadow: none !important;
}
