html, body {
  width: 260px;
  height: auto !important;
}

h2 {
  font-size: 17px !important;
  font-weight: 600;
}

h3 {
  color: #bfbfbf;
  font-weight: 500;
  font-size: 12px !important;
  margin: 2px;
}

footer {
  margin: 10px;
  font-size: 10px !important;
}