html, body {
  width: 260px;
  height: auto !important;
}

h2 {
  font-size: 17px !important;
  font-weight: 600;
}

h3 {
  color: #bfbfbf;
  font-weight: 500;
  font-size: 12px !important;
  margin: 2px;
}

footer {
  margin: 10px;
  font-size: 10px !important;
}

#mainheader {
  font-size: 12px !important;
  text-align: left !important;
  margin-top: 10px;
}

.button {
  font-size: 13px !important;
}

.buttonicon {
  margin-right: 0px !important;
}